#accNum{
  color:#108FC6;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
}

#account{
  text-align: left;
  background-color: #F8F9F2;
}

#amountChange{
  text-align: right;
  background-color: #EFEFED;
}

#loadMorePointer{
  cursor: pointer;
  color:#108FC6;
}

#loadMoreCell {
  text-align: center;
}
