<div class="container">
  <table class="table table-bordered" appSortTable (sorted)="onSorted($event)">
    <thead>
    <tr>
      <th app-sort-column="accountNum" class="headerCol1">Account</th>
      <th app-sort-column="availableCash" symbol="before" class="headerCol2">Available Cash/Today`s Change</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let c of accounts">
      <td class="tableDataCol1">{{c.accountName}}-{{c.accountNum}}</td>
      <td class="tableDataCol2">{{c.availableCash | currency:"USD"}}<br/>
        <app-amount-change *ngIf="c.previousCash" [availableCash]="c.availableCash" [previousCash]="c.previousCash"></app-amount-change>
      </td>
    </tr>
    <tr class="loadMorePointer" *ngIf="!loadMore">
      <td class="loadMoreCell" colspan="2" (click)="loadMoreClick()">Load More</td></tr>
    </tbody>
  </table>
</div>
