table {
  background-color: white;
  margin: 10px auto;
  width: 50%;
  table-layout: fixed;
  border-collapse:collapse;
}

th, td {
  color: black;
  text-align: left;
}

.table-header {
  background-color: #F8F9F2;
  border-right:1px solid white;
  cursor: pointer;
  font-weight: normal;

  &.sorted {
    background-color: #EFEFED;
  }
}

.text-right {
  text-align: right;
}

.account-info{
  color:#108FC6;
  font-weight: bold;
  vertical-align: middle;
  border-right:1px solid white;
}

.load-more{
  cursor: pointer;
  color:#108FC6;
  td {
    text-align: center;
    line-height: 37px;
    color:#108FC6;
  }
}

.todays-change{
  color:dimgray;
}

